// Import page-specific CSS files here.
@import "home";
@import "show";

.index-heading {
  text-align: center;
  padding: none;
  font-size: 52px;
  margin-top: 36px;
  margin-bottom: 48px;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand !important;
}

h1 {
  font-size: 52px;
}

body {
  font-family: Jost !important;
}
