<br>
<div style="text-align: center">
  <h2>Hot puss!</h2>
</div>

<div class="cards">
  <% @cats.first(4).each do |cat| %>
    <%= link_to cat_path(cat), :class => "text-decoration-none" do %>
      <div class="card-cat">
        <%= cl_image_tag cat.photos[0].key %>
        <div class="card-cat-infos">
          <div>
            <h2><%= cat.name %></h2>
            <p><%= cat.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
