<br>
<div style="text-align:center;">
  <h2>Hot puss!</h2>
</div>

<div class="cards">
    <% @cats.first(4).each do |cat| %>
      <%= link_to cat_path(cat), :class => "text-decoration-none" do %>
        <div class="card-cat">
          <%= image_tag("card_cat.jpg") %>
          <div class="card-cat-infos">
            <div>
              <h2><%= cat.name %></h2>
            </div>
            <div>
              <p><%= cat.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
