<div class="container">
  <div class="cards-index">
    <% @cats.each do |cat| %>
      <%= link_to cat_path(cat), :class => "text-decoration-none" do %>
          <div class="card-cat-index">
            <%= cl_image_tag cat.photos[0].key %>
            <div class="card-cat-infos-index">
              <div>
                <h2><%= cat.name %></h2>
                <p><%= cat.description %></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
