<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path("main_banner.jpg") %>');">
  <div class="container">
    <h1>Hire a cat!</h1>
    <p>small description about the page</p>
    <%= link_to "Show me the cats", cats_path, class: "btn-flat text-decoration-none" %>
  </div>
</div>
