<div class="reg_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path("cat_banner.jpg") %>');">
  <div class="container" style="padding-left :160px">
    <h1>Register to list your cat</h1>
    <p>small description</p>
    <%= link_to "Register", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
