.paw-background h2 {
  color: #F16821;
  font-weight: bold;
}

.mt-3 {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
  padding: 20px;
}

// body {
  // background-image: url('Cat_background.png');
// }
