.card-cat {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  border-radius: 16px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  column-fill: auto;
}

.card-cat > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-cat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-cat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-cat .card-cat-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
  color: black;
}

.card-cat-infos .card-cat-user {
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-cat:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
