.card-cat-index {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 306px;
  border-radius: 16px;
  text-decoration: none;
}

.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  justify-content: center;
  margin-top: 36px;
}

.index-banner {
  background-size: cover;
  background-position: center;
  padding: 150px;
  background-image: url("images/fam_banner.jpg");
  border-radius: 16px;
  height: 500px;
}

.card-cat-index > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-cat-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #1A3263;
}

.card-cat-index p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
  color: #1A3263;
}


.card-cat-index .card-cat-infos-index {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-cat-infos-index .card-cat-user-index {
  right: 16px;
  top: -20px;
  width: 40px;
}

.index-heading {
  color: white;
}

@media(max-width: 992px) {
  .cards-index {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-index {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

.card-cat-index:hover {
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
}
