.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

/*.navbar-lewagon .navbar-brand img {
  width: 40px;
}*/

.red {
  font-size: 40px;
  color: #F16821 !important;
}

.container-fluid {
  margin-right: 32px;
  margin-left: 32px;
}

.nav-item active {
  color: #1A3263;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: -6px;
}

.nav-link {
  font-size: 18px;
}
