.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.red {
  font-size: 40px;
  color: #F16821 !important;
}

.nav-item active {
  color: #1A3263;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
}

.site-name {
  color: #F16821;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 8px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo:hover {
  color: #d35a1d;
}

.navbar-btn-container {
  display: flex;
  & > * {
    margin-left: 12px;
  }
}

.nav-link {
  color: #F16821 !important;
}

.nav-link:hover {
  opacity: 0.15;
}
