<div class="container">
  <h1>All cats on the site</h1>

  <% @cats.each do |cat| %>
<<<<<<< HEAD
    <%= link_to cat_path(cat) do %>
      <li><%= cat.name %></li>
    <% end %>
=======
  <li><%= link_to cat.name, cat_path(cat) %></li>
>>>>>>> 6a71f2c0d17afa86de3ca1ecef2aa22e3f9fbf67
  <% end %>
</div>
