
<div class="container">
  <h1>My Cat Listings</h1>
  <% @cats.each do |cat| %>
    <div class="card-product mt-5">
      <%= cl_image_tag cat.photos.first.key %>
        <div>
          <h2><%= cat.name %></h2>
          <p><%= cat.description %></p>
        </div>
    </div>
  <% end %>
</div>
